<app-header-dasboard userid="1"></app-header-dasboard>
<div class="Container">
  <div class="Container_Card">
    <div class="Container_Card mt-5">
      <div class="Card1">
        <div class="cardbx1">
          <i class="bx bxs-graduation"></i>
          <div>
            <p class="text-center">Apprenants</p>
            <h5 class="text-center">{{ tailleApprenant }}</h5>
          </div>
        </div>
      </div>
      <div class="Card1">
        <div class="cardbx">
          <i class="bx bx-user-pin"></i>
          <div>
            <p class="text-center">Enseignants</p>
            <h5 class="text-center">{{ tailleenseignant }}</h5>
          </div>
        </div>
      </div>
      <div class="Card1">
        <div class="cardbx1">
          <i class="bx bx-book-bookmark"></i>
          <div>
            <p class="text-center">Matières</p>
            <h5 class="text-center">{{ tailleMatiere }}</h5>
          </div>
        </div>
      </div>
      <div class="Card1">
        <div class="cardbx">
          <i class="bx bxs-school"></i>
          <div>
            <p class="text-center">Classes</p>
            <h5 class="text-center">{{ tailleClasse }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button
    type="button"
    id="btn1"
    class="btn btn"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
    style="margin-top: 80px; margin-left: 90px; margin-bottom: 20px"
  >
    Voir plus
  </button>

  <div class="table_Archiv"  style="width: 100%;">
    <div class="table_Archiv_Classe" style="width: 40%;">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Niveau</th>
            <th scope="col">Effectif</th>
            <th scope="col" rowspan="1">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let classe of usersClasse">
          <tr *ngIf="classe.etat==1">
            <th scope="row">{{classe.id}}</th>
            <td>{{classe.niveau}}</td>
            <td>{{classe.effectif}}</td>
            <td><button class="btn btn" id="btn2" (click)="DesarchiveFunction(classe.id)">Désarchiver</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table_Archiv_Matiere" style="width: 40%;">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Niveau</th>
            <th scope="col">Effectif</th>
            <th scope="col" rowspan="1">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Licence 1</td>
            <td>Effectif</td>
            <td><button class="btn btn" id="btn2">Désarchiver</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="demi-cercle"></div>
